.App {
  text-align: center;
  padding: 10px 15px;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 17px;
  overflow: auto;
  overflow-x: hidden;
  overflow-style: none;
}
.App::-webkit-scrollbar {
  display: none;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  background-color: rgb(50, 50, 50);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 2px 2px 2px 0 gray;
}
